$fontJost: "Jost";
$a-hover: rgb(182, 180, 180);
$contact-a: rgb(97, 97, 97);
$text-color: black ; 
$text-title: white;
$background-item: black;
// $button-hover: #5a2912;
$button-hover: black;
$button-color: #c27137;
