@import "variable";
@import "font";
@import "mixin";



//CSS breadcrumb
.menuorder-head{
    @include font($fontJost);
    @include pagehead;
}


.menuorder{
    background-color: $background-item;
    width: 100%;
    font-family: $fontJost;
    padding-top: 30px;
    padding-bottom: 50px;
    .menuorder-wrap{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 150px;
        column-gap: 40px;
        color: $text-title;
        .menuorder-item{
            display: flex;
            justify-content: center;
            align-items: center;
            .menuorder-item-left{
                width: 30%;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .menuorder-item-right{
                width: 70%;
                h2{
                    color: $button-color;
                }
                p{
                    color: $text-title;
                }
                .menuorder-item-right-content{
                    display:  flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;
                    .menuorder-item-right-content-left,.menuorder-item-right-content-right{
                        width: 50%;
                        .item{
                            width: 100%;
                            height: 100px;
                            text-align: left;
                            .price{
                                margin-left: 30px;
                                color: $button-color;
                            }
                        }
                    }
                   
                }
            }   
        }
    }
}